NameValueCollection.ToNormalizedString does not produce expected result when multiple parameters have the same name

The NameValueCollection extension ```ToNormalizedString()``` does not produce the string described in [RFC 5849 Section 3.4.1.3.2](https://tools.ietf.org/html/rfc5849#section-3.4.1.3.2).